header.masthead {
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;

    .carousel-indicators li {
      height: 20px;
      border-radius: 3px;
      width: 20px;
      cursor: pointer;
    }
    .carousel-indicators {
      bottom: 50%;

      @include breakpoint(987px){
        bottom: 1%;
      }
    }
    .carousel-title {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      @include breakpoint(987px){
        top: 50%;
      }
    }
    .col-lg-12 {
      padding: 0 !important;
    }
    .carousel-caption {
      bottom: 35%;

      h3 {
        font-weight: 100;
      }
      .h--2 {
        width: 550px;
        margin: 20px auto;
      }
      @include breakpoint(987px){
        bottom: 1%;
      }
    }
  }
}

.c-navstack-item--custom {
  background-color: rgba(34, 34, 34, 0.75);
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 17px;
  font-size: 18px;
  color: #eee!important;
  border-color: #666;
  box-shadow: 1px 1px #666, inset 1px 1px #666;
  font-weight: 200;

  &:hover {
    background-color: rgba(76, 76, 76, 0.75);
    text-decoration: none;
  }
}
.c-navstack--custom .fa-play{
  float: right;
  font-size: 15px;
  position: relative;
  top: 5px;
}

section#about {
  padding: 3rem 0;

  .section-heading {
    color: #333 !important;
    text-transform: uppercase;
    font-weight: 900;
  }
  .text-faded {
    font-weight: 300;
    color: #000000;
    font-size: 16px;
  }
}

section#services {
  padding: 3rem 0 !important;
  padding-bottom: calc(10rem - 56px);
  background-image: url(../img/services/services-background.png);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .col-lg-12 {
    margin-bottom: 25px;
  }
  .section-heading {
    color: #333 !important;
    text-transform: uppercase;
    font-weight: 900;
  }
  .img-responsive {
    width: 350px;
    height: 220px;
  }
  .col-lg-4 {
    text-align: center;
    .btn-success {
      border-radius: 5px;
      background-color: #0076a3;
      margin-top: 20px;
      font-size: 20px;

      &:hover {
        background-color: #0384b5;
      }
    }
  }
}

section#testimonials {
  background-color: #d7d7d7 !important;
  padding: 3rem 0 !important;

  .section-heading {
    color: #333 !important;
    text-transform: uppercase;
    font-weight: 900;
  }
  .margin--bottom {
    margin-bottom: 30px;
  }
  .play--btn {
    cursor: pointer;
    position: absolute;
    bottom: calc(50% - 5em);
    left: calc(50% - 4em);
    z-index: 1;

    img {
      width: 150px
    }
  }
  .col-sm {
    text-align: center;
    img {
      width: 250px;
      height: 220px;
    }
  }
}

footer#contact {
  background-color: #000000;
  color: white;

  .container {
    padding-top: 3rem;
    border-bottom: 2px solid #777676;

    h6, p {
      margin-bottom: 15px;
      margin-left: 15px;
    }
    a {
      color: white;
      font-weight: 300;
    }
    .teal {
      max-width: 350px;
      width: 100%;
      border: 1px solid white !important;
    }
  }
  .footer-copyright {
    font-size: 14px;
  }
}
